
.a1{
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    background-repeat: no-repeat;
}
.aa{
    background-color: lightgray;
}
.a4{
    background-color: lightgray;
    
}
.a5{
    background-color: whitesmoke;
}
.a7{
    background-color: lightgray;
}
.a9{
    background-color: whitesmoke;
}

.b1{
    background-color: white;
}
.bb{
    background-color: lightgrey;
}